
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
   font-family: 'Avantt', sans-serif;
}

@font-face {
  font-family: "Avantt";
  src: url("../public/assets/fonts/Avantt-SemiBold.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avantt";
  src: url("../public/assets//fonts/Avantt-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

.common-bg{
  background-color: #191423;
}

.h-screen{
  min-height: 100vh;
}
.custom-container{
  max-width: 1128px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.product-parent{
  background-color: #362B4F;
  padding: 16px 26px;
  border-radius: 16px;
  max-width: 437px;
}

.custom-heading{
  font-size: 46px;
  margin-bottom: 50px !important;
}

.custom-text{
  font-size: 16px;
  line-height: 150%;
}

.grid-container{
  width: 100%;
  background-color: #362B4F;
  border-radius: 16px;
  height: 100%;
  max-width: 674px;
  min-height: 666px;
}

.grid-box{
  grid-template-columns: auto auto auto;
  gap: 7px;
max-width: 622px;
}

.small-img{
  max-width: 100px;
}
.large-img{
  max-width: 203px;
}

.grid-item-1{
  grid-column: 1/2;
  grid-row: 1/2;
  gap: 4px;
}

.grid-item-2{
  grid-column: 2/3;
  grid-row: 1/2;
  gap: 4px;
}

.grid-item-3{
  grid-column: 1/2;
  grid-row: 2/3;
  gap: 4px;
}

.grid-item-4{
  grid-column: 2/3;
  grid-row: 2/3;
  gap: 4px;
}

.grid-item-5{
  grid-column: 1/2;
  grid-row: 3/4;
  gap: 4px;
}

.grid-item-6{
  grid-column: 2/3;
  grid-row: 3/4;
  gap: 4px;
}

.use-effect-text{
  font-size: 24px ;
}

/* ----------------------second-section----------- */
.container{
  max-width: 1145px !important;
  margin-left: auto;
  margin-right: auto;
}

.second-heading{
  font-size: 46px;
  font-weight: 600;
  line-height: 59.8px;
  padding-bottom: 50px;
}
.custom-max-w{
  max-width: 481px !important;
}

.border-radius-xl{
  border-radius: 12px;
}

.table-bg{
  background-color: #026070;
}

.border-b{
  border-bottom: 0.75px solid #000000;
}

.table-parent{
  justify-content: space-around;
}

.cards-img{
  width: 320px;
  height: 555px;
  object-fit: cover;
}

.max-w-sm{
  max-width: 95px !important;
}

.table-heading{
  font-size: 12px;
  line-height: 15.6px;
  color: #000000;
  padding: 27px 19px !important;
  width: 95px !important;
}

.custom-table-bg{
  background: #026070 !important;
  border-radius: 12px !important;
}

.bg-lightGreen{
  background-color: #56E3CB !important;
}


/* Style the table */
.custom-table-bg {
    width: 100%;
    border-collapse: separate;  
    border-spacing: 10px 0;
}


.custom-td {
    padding: 18px 21px;
    background-color: #fff;
    border-top: 0.75px solid #000000; 
    border-bottom: 0.75px solid #000000; 
}

.custom-td:last-child {
    background-color: #e8f5e9;
}

.table-heading {
    padding: 12px 15px;
}

table th:first-child, table td:first-child {
    border-left: none;
}

thead tr th {
    padding: 12px 15px;
}

.custom-border-b-none{
  border-bottom: none !important;
}

.custom-rounded-top-left-border{
  border-top-left-radius: 6px !important;
  border-top-right-radius: 6px !important;
}
.custom-rounded-top-left-border-bottom{
  border-bottom-left-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}



/* ------------responsive------------- */
@media (max-width: 1199.98px){

  .sm-py-xl{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .product-parent{
    max-width: unset;
  }
  .grid-container{
    max-width: unset;
    min-height: unset;
    padding: 26px;
  }
  .flex-col{
    flex-direction: column;
  }
  .custom-max-w{
    max-width: none !important;
  }
}

@media (max-width: 991.98px){
.custom-heading{
  font-size: 36px;
  margin-bottom: 35px !important;
}
.second-heading{
   font-size: 36px;
  padding-bottom: 35px !important;
}
  .table-heading{
    min-width: 95px !important;
  }
}

@media (max-width : 767.98px) {

  .lg-flex-wrap{
    flex-wrap: wrap !important;
  }

    .table-responsive {
        overflow-x: auto !important; 
        -webkit-overflow-scrolling: touch; 
    }

       .table th, .table td {
        padding: 8px;
        font-size: 0.875rem;
    }

    .second-heading{
   font-size: 25px;
  padding-bottom: 25px !important;
}

  .custom-heading{
    font-size: 26px;
    margin-bottom: 25px !important;
  }

  .custom-text{
    font-size: 14px;
   
  }

  .grid-item-1{
    grid-column: 1/2;
    grid-row: 1/2;
    gap: 4px;
  }

  .grid-item-2{
    grid-column: 1/2;
    grid-row: 3/4;
    gap: 4px;
  }
  
  .grid-item-3{
    grid-column: 1/2;
    grid-row: 2/3;
    gap: 4px;
  }
  
  .grid-item-4{
    grid-column: 1/2;
    grid-row: 4/5;
    gap: 4px;
  }
  
  .grid-item-5{
    grid-column: 1/2;
    grid-row: 5/6;
    gap: 4px;
  }
  
  .grid-item-6{
    grid-column: 1/2;
    grid-row: 6/7;
    gap: 4px;
  }
}

.custom-px{
  padding-left: 31px;
  padding-right: 31px;
}

.custom-fee{
  font-size: 8px;
  line-height: 120%;
color: #000000;
padding-left: 12px;
padding-right: 12px;
}






/* --------------- */
